*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    height: 850px;
}

header{
    font-family:  'Abril Fatface', cursive;
    font-size: 3em;
    text-align: center;
    background-color: beige;
}
.brand-name{
    font-size: 2em;
    padding-left: 78px;
}

.nav-link{
    font-size:.5em;
}
.container {
    max-width: 100%;
}
.art{
    box-sizing: border-box;
    margin: auto;
    width: 100%;
}

.colbox{
    margin: 5px;
    box-sizing: border-box;
    float:left;
    border: 1px solid black;
    height: 560px;
    background-color: dimgrey;
    position: relative;
    padding: 92px 10px 10px 10px;
    border-radius: 8px;
}

#chicken{
	height: 1000px;
}

.sub_sec{
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 70%;
    text-align: center;
    font-family: WindSong,monospace, fantasy;
    font-size: 3em;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
}

.chicken{
    background-color: tomato;
}

.beef{
    background-color: red;
    color: white;
}

.sushi{
    background-color: orange;
}

.sec-img{
    height: 250px;
    width: 95%;
    border: 2px solid #3F0C1F;
    padding: 0;
    margin: 2.5%;
}

.egg{
    height: 150px;
    width: 50%;
    border: 2px solid #3F0C1F;
    padding: 0;
    margin: 2.5%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.sec-img:hover, .egg:hover{
  box-shadow: 0 1px 5px 1px #cccccc;
}

.quotes{
    font-family: Palette Mosaic,cursive;
    font-size: 1em;
    /* clear:both; */
}

.author{
    margin-left: 24%;
    font-size: 1em;
    font-weight: 500;
    font-family: fantasy;
}

@media screen and (min-width: 992px){
    /*Bootstrap column dividing style for given assignment*/
    .col-lg-4 { 
        width: 32%; 
    }
}

@media (min-width:768px) and (max-width:991px){
    /*Bootstrap column dividing style for given assignment*/
    .col-md-6 {
        width: 48.5%;
    }
    .colbox{
        height: 550px;
    }
    .col-md-12 {
        width: 99%;
    }
    .sushi-tit{
	width: 45%;
    }
    #sushi-img{
	margin: 2.5% 21.5% 2.5%;
	width: 58%;
    }
    
}

@media screen and (max-width:767px){
    .brand-name {
    	font-size: 1.5em;
    	padding-left: 0;
    }
    /*Bootstrap column dividing style for given assignment*/
    .col-sm-12 {
        width: 99%;
    }

    .colbox{
        height: 550px;
    }

    .sub_sec{
	width: 53%;
    }

    .chicken-tit{
	width: 59.5%;
    }

    .sec-img{
	margin: 2.5% 9.8% 2.5%;
	width: 80%;
    }
    
}
